*{
    margin: 0;
    padding: 0;
}
.background{
    min-height: 100vh;
    background-image: url(developer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background h1{
    padding-top: 24px;
    color: white;
    justify-content: center;
    text-align: center;
    word-spacing: 9px;
}
.background p{
    color: white;
    justify-content: center;
    text-align: center;
    word-spacing: 4px;
}
.tag h1{
    color: white;
    background-color: black;
    font-weight: 500;
    font-size:xx-large;
    word-spacing: 11px;
    justify-content: center;
    text-align: center;
    height: 60px;
    padding-top: 17px;
}
.container1{
    margin-left: 35px;
    height: 500px;
    width: 280px;
    background-color: rgb(239, 236, 236);
    border-radius: 10px;
    margin: 40px;
    /* display: inline;
    padding: 0px; */
}
.container2{
    margin-left: 35px;
    height: 500px;
    width: 280px;
    background-color: rgb(239, 236, 236);
    border-radius: 10px;
    margin: 40px;
}
.container3{
    margin-left: 35px;
    height: 500px;
    width: 280px;
    background-color: rgb(239, 236, 236);
    border-radius: 10px;
    margin: 40px;
}
.imgg{
    height: 200px;
    width: 200px;
    padding: 30px;
}
.container1 h2{
    margin-left: 13px;
}
.container2 h2{
    margin-left: 13px;
}
.container3 h2{
    margin-left: 13px;
}
.container1 p{
    margin-left: 13px;
}
.container2 p{
    margin-left: 13px;
}
.container3 p{
    margin-left: 13px;
}
.Sec4{
    background-color: darkolivegreen;
    color: white;
    width: 50%;
    height: 100px;
}
.Sec5{
    background-color: brown;
    color: white;
    max-width: 50%;
    height: 100px;
}
.sec6{
    color: white;
    background-color: black;
    font-weight: 500;
    font-size:xx-large;
    word-spacing: 11px;
    justify-content: center;
    text-align: center;
    height: 60px;
    padding-top: 17px;
}
.sec6 footerlogo{
    height: 30px;
    width: 30px;

}

